body {
    background-image: url("assets/cer.jpg");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}

/* .container {
    background-color: #ffffff;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
} */

/* .header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #333333;
}

.notifications {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification-title {
    margin: 0 0 5px;
    font-size: 18px;
    color: #007bff;
}

.notification-message {
    margin: 0;
    font-size: 14px;
    color: #333333;
}

.notification-time {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #6c757d;
    text-align: right;
} */ 

header {
    width: 100%;
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.container {
    /* max-width: 1200px; */
    height: 300px;
    width:900px;
    margin: 90px auto; /* Adjust margin to center the container and add space from the top */
    padding: 20px;
    margin-right: 100px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

main {
    padding: 20px;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
}

.search-bar input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.search-bar button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
}

button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}